@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
@layer components {
    .hover\:shadow-glow {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
    }
}

.sidebar-item-text {
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.1s;
  }
  
  .sidebar:hover .sidebar-item-text {
    opacity: 1;
  }


  .neon-text {
    color: #ffffff; /* Text color */
    text-shadow:
      0 0 2px #b7b7b7, /* Inner glow */
      0 0 2px #978e8e, /* Middle glow */
      0 0 2px #a0a1a1, /* Outer glow */
      0 0 2px #a3a4a4; /* Far outer glow */
    animation: glow 1.5s infinite alternate; /* Glow animation */
  }