@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
@layer components {
    .hover\:shadow-glow {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
    }
}

.sidebar-item-text {
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.1s;
  }
  
  .sidebar:hover .sidebar-item-text {
    opacity: 1;
  }


  .neon-text {
    color: #ffffff; /* Text color */
    text-shadow:
      0 0 2px #b7b7b7, /* Inner glow */
      0 0 2px #978e8e, /* Middle glow */
      0 0 2px #a0a1a1, /* Outer glow */
      0 0 2px #a3a4a4; /* Far outer glow */
    animation: glow 1.5s infinite alternate; /* Glow animation */
  }


  .neon-blue {
    color: #0047ff; /* Bright blue text color */
    text-shadow:
      0 0 5px #4d79ff,  /* Inner glow */
      0 0 10px #4d79ff, /* Middle glow */
      0 0 20px #4d79ff, /* Outer glow */
      0 0 40px #1a53ff, /* Stronger outer glow */
      0 0 60px #0033cc; /* Far outer glow */
    animation: glow 1.5s infinite alternate;
}
.heii{
   min-height: 100vh;
}
  .grad {
    background-image: linear-gradient(to bottom, #ea0505, #240101); /* Define your gradient */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
    color: transparent; /* Fallback for non-WebKit browsers */
    font-size: 48px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

